h1{
    text-align: center;
    font-size: 25px;
    color: #ff6a00;

}
body {
  background-color: #000000;
}
.carro { 
     width: 20%;
    height: 50;
}
.ini {
 background-image: url("pexels-broderick-armbrister-6462662.jpg");
}
.button{
display: inline-block;
padding: 10px 20px;
}
