h1{
  *{
margin: 0;
padding: 0;
  }
    text-align: center;
    font-size: 250px;
    color: #ff6a00;

}
body {
  background-color: #000000;
}
.carro { 
     width: 100%;
    height: 150%;
}
.ini {
 background-image: url("pexels-broderick-armbrister-6462662.jpg");
}
.button{
display: inline-block;
padding: 60px 40px;
}
